html, body {
  height: 100%;
  margin: 0;
}

/*.footer > .container {*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
/*}*/

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 30px;
  font-size: 10px;
  padding: 10px;
  margin: 0;
  left: 0;
  line-height: 10px;
  position: absolute;
  width: 100%;
}

.App-plot-container {
  height: 100%;
}

.App-content-container{
  height: 45%;
  margin: 0;
}

.App-content-row {
  height: 100%;
  padding: 0 15px;
}

.full-col {
  height: 100%;
}

.App {
  bottom: 0;
  top: 0px;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  width: 100%
}

.App-container {
  bottom: 0;
  top: 0;
  height: 100%;
  margin-bottom: 0;
  padding: 0;
}

.App-plot-row {
  height: 100%;
}

.App-middle-container {
  height: 55%;
}

.middle-box {
  padding: 1em;
}

.App-map-container {
  height: 100%;
}

.App-controls-container{
  height: 100%;
}

.app-tooltip {
  width: 150px;
}
